.mainsection{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    position: relative;
    top: -18px;
}

.mainsection__wrapper{
    width: 1140px;
    height: auto;
}

.first__thesis{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.first__section{
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.first__section__content{
    width: 550px;
    height: 120px;
}

.second__section__content{

}

.second__thesis{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100px;
}

.first{
    height: auto;
}



.second__section__element{
    background-color: #EBEBEB;
    border-radius: 25px;
    width: 430px;
    padding: 20px 40px 20px 40px;
}

.second__section__content__wrapper{
    display: flex;
    justify-content: space-between;
}

.second__section__content__buttons{
    display: flex;
    justify-content: space-between;
}

.third__section{
    height: 320px;
    width: 520px;
}

.third__section__thesis{
    width: 100%;
}

.third__section__highlight{
    background-color: #FBEAF9;
    border-radius: 25px;
    height: 50px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.row p{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 18px;
}

.third__fourth__sections{
    display: flex;
    justify-content: space-between;
}

.blue{
    color: #365AB0;
}

.fifth__section{
    height: 350px;
    font-weight: 500;
}

.fifth__section__wrapper{
    display: flex;
    justify-content: space-between;
}

.pink{
    font-style: italic;
    color: #D136C2;
    font-size: 35px;
    font-weight: 600;
}

.fifth__section__wrapper p{
    width: 460px;
    height: 220px;
}

.section{
    margin-top: 70px;
}

.sixth__section__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
}

.fourth__section{
    background-color: #FBEAF9;
    padding: 30px;
    border-radius: 25px;
    height: 300px;
}

.seventh__section__grid{
  display: grid;
    grid-template-rows: repeat(6, 223px);
    grid-template-columns: 1fr 1fr;
}

.ss__intro{
    width: 550px;
    height: 160px;
    background-color: #EBEBEB;border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.pink__small{
    color: #D136C2;
    font-size: 18px;
}

.eighth__section__wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
}

.second__section{
    margin-top: 100px;
}
